body {
  background-color: #c7eeff;
  font-family: serif;
  font-size: 1.25rem;
  color: black;
  margin: 0 0 0 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 10%;
  border-color: #ffacb7;
  border-width: 10px;
}

h1 {
  color: #1a1a40;
}

h3 {
  color: #1a1a40;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  width: 15%;
}

.textmiddle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 20%;
  max-width: 100%;
  max-height: 100%;
}

.CD {
  /*display: inline-block;*/
  height: 35px;
  width: 35px;
  /*margin-left: 10;
    margin-right: 10;*/
}

img:hover {
  background-color: gold;
}

.FP {
  background-color: #3186b2;
  width: 100%;
  height: 520px;
}

.SP {
  background-color: #c7eeff;
  width: 100%;
  top: 500px;
  text-align: justify;
}

.TP {
  background-color: #3186b2;
  width: 100%;
  top: 1637.6px;
  margin: auto auto auto auto;
  text-align: justify;
  height: 300px;
}

.FText {
  margin: auto auto auto auto;
  width: 1000px;
}

.TBFP {
  margin: 0 auto 0 auto;
}

.PP {
  width: 200px;
  border-radius: 50%;
}

a {
  color: purple;
}

.navbar {
  font-family: monospace;
  font-size: 20px;
  padding-left: 70px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.navbar p {
  justify-content: space-between;
  padding-right: 15px;
  display: inline-block;
}
.PubP {
  background-color: #c7eeff;
  width: 100%;
  height: 520px;
}
.ConP {
  background-color: #c7eeff;
  width: 100%;
  height: 520px;
}
